{% extends 'base.html' %}
{% block content %}
<div>
    <div class="expense-categories">
        <h1>Expense Categories</h1>
        <table class="table table-bordered categories-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Icon</th>
                    <th>Details</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td><i class="fa-solid {{ category.icon }}" style="color: #7c8492;"></i></td>
                    <td><a href="{% url 'categories_detail' category.id %}">Details</a></td>
                    <td><form action="{% url 'categories_update' category.id %}"><button class="edit-btn"><i class="fa-solid fa-pen"></i></button></form></td>
                    <td><form action="{% url 'categories_delete' category.id %}"><button class="edit-btn remove-btn"><i class="fa-solid fa-x" style="color: white;"></i></button></form></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <form action="{% url 'ctg_create' %}">
                            <button class="btn btn-primary btn-xl px-4 gap-3 signupbtn btn-margin">Add Category</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}