{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpendWise</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
      <img src="{% static 'images/sw-logo.svg' %}" class="logo1">
      <video playsinline autoplay muted loop id="bgvid">
        <source src="{% static 'images/background.mp4' %}" type="video/mp4">
      </video>
      <div class="col-lg-6 mx-auto" id="description">
        <p class="lead mb-4">
          SpendWise is your go-to solution for effortlessly managing your
          expenses. With intuitive features, insightful reports, and
          user-friendly design, take control of your finances and make smart
          spending decisions today
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form action="{% url 'signup' %}" method="GET">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3 signupbtn">
              Sign Up
            </button>
          </form>
          <form action="{% url 'login' %}" method="GET">
            <button type="submit" class="btn btn-outline-secondary btn-lg px-4 loginbtn">
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
