* {
  box-sizing: border-box;
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 14px;
  margin: 0 4rem;
}

.categories {
  grid-column: 1 / span 2;
  margin-top: 6rem;
}

.expenses {
  margin-top: 3rem;
  grid-row: 1 / span 2;
  grid-column: 2 / 3;
}

main {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  grid-template-rows: 2fr 3fr;
  height: 80vh;
  gap: 1rem;
}

.expense-table {
  font-size: 1rem;
}

.category {
  border-radius: 100px;
  padding: 0.2rem;
}

.c-1 {
  background-color: rgb(211, 165, 254);
}

.c-2 {
  background-color: rgb(181, 255, 201);
}

.c-3 {
  background-color: rgb(255, 198, 241);
}

.progress {
  margin: 2rem auto 0 auto;
  width: 100%;
  height: 2rem;
}

.progress-bar {
  background-color: rgb(129, 99, 157);
}

.accent-h1 {
  font-size: 4rem;
  margin-right: 2rem;
}

.flex-2-col {
  margin-top: 3rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.exp-by-cat-container {
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.p-expense-by-cat {
  padding-top: 2rem;
}

p {
  color: rgb(171, 171, 171);
  padding-top:1rem;
}

.expenses-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-sm {
  background-color: rgb(129, 99, 157);
  border: none;
}

.btn-sm:hover {
  background-color: rgb(177, 151, 201);
}

/* Home page */

.bg-body-tertiary {
  background-color: none !important;
  border: none !important;
}

.logo1 {
  width: 50vw;
  height: 50vh;
  position: relative;
}

#description {
  margin-top: -10rem;
}

.lead {
  color: black;
  font-size: 1.5rem;
}

.signupbtn {
  background-color: #8c52ff;
  border: none;
}

.signupbtn:hover {
  background-color: white;
  color: black;
}

.loginbtn {
  background-color: white;
  border: none;
  color: black;
}

.loginbtn:hover {
  background-color: #c1a4fc;
  color: white;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Log In */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.flex-center h1 {
  text-align: center;
  margin-top: -3rem;
}

.flex-center input {
  border: none;
}

.btn-margin {
  margin-top: 1rem;
  width: 100%;
}

.logo2 {
  width: 18vw;
  height: 25vh;
}

/* sign up style */

.flex-center li {
  color: grey;
}

.flex-center label {
  color: black;
}

.flex-center .helptext {
  color: grey;
}

/* .form-signup {
  width: 30vw;
} */

/* budget form
*/

.budget-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.budget-form button {
  background-color: #3463BD;
  color: white;
}

.budget-form button:hover {
  background-color: #6a93df;
  color: white;
}

.logo3 {
  width: 16vw;
}

.budget-form table {
  margin: 0 auto;
}

/* index page */

.expense-scroll {
  overflow: scroll;
  height: 40vh;
}