{% extends 'base.html' %}
{% block content %}

<div class="budget">
  <div class="flex-2-col">
    <h1 class="accent-h1"> {{ amount_left }}</h1>
    <div>
      <h5>Budget: {{ budget.amount }}</h5>
      <h5>Total expenses: {{ sum }}</h5>
      <h5>{{ budget.start_date }} - {{ budget.end_date }}</h5>
    </div>
  </div>
  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{percent_left}}" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: {{percent_left}}%">{{percent_left}}</div>
  </div>
</div>
<div class="expenses">
  <div class="expenses-btn-container">
    <h3>Expenses</h3>
    <form action="{% url 'expenses_create' %}" class="add-expense-btn">
      <button type="submit" class="btn btn-primary btn-sm">+</button>
    </form>
  </div>
  <div class="table-responsive small expense-scroll">
    <table class="table table-striped table-sm expense-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Title</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>{{ expense.date }}</td>
          <td>{{ expense.title }}</td>
          <td>{{ expense.amount }}</td>
          <td><span class="category c-1">{{ expense.category }}</span></td>
          <td><a href="{% url 'detail' expense.id %}">Details</a></td>
        </tr>
        </a>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="categories">
  <h3>Expenses by Categories</h3>
    <div class="exp-by-cat-container">
      {% for category_expense in category_expenses %}
      <a href="{% url 'categories_detail' category_expense.id %}">
        <div class="category-card">
          <i class="fa-solid {{ category_expense.icon }} fa-2xl" style="color: #7c8492;"></i>
          <p class="p-expense-by-cat">{{ category_expense.title }}</p>
          <h4>{{ category_expense.total_expenses}}</h4>
        </div>
      </a>
      {% endfor %}
    </div>
</div>

{% endblock %}