{% extends 'base.html' %}
{% block content %}

<div class="budget">
  <h3>Hello, <span class="secondary-color">{{ request.user }}</span></h3>
  <h5>Budget remaining</h5>
  <div class="flex-2-col">
    <h1 class="accent-h1">$ {{ amount_left }}</h1>
    <div>
      <h5>{{ budget.start_date }} - {{ budget.end_date }}</h5>
    </div>
  </div>
  <canvas id="pie-chart" height="100vh"></canvas> 
 
</div>
<div class="expenses">
  <div class="expenses-btn-container">
    <h3>Expenses</h3>
    <form action="{% url 'expenses_create' %}" class="add-expense-btn">
      <button type="submit" class="btn btn-primary btn-sm">+</button>
    </form>
  </div>
  <div class="table-responsive small expense-scroll">
    <table class="table table-striped table-sm expense-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Title</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr class="table-row" data-href="{% url 'detail' expense.id %}">
          <td>{{ expense.date }}</td>
          <td>{{ expense.title }}</td>
          <td>$ {{ expense.amount }}</td>
          <td><span style="background-color: {{ expense.category.color }};">{{ expense.category }}</span></td>
        </tr>
        </a>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="categories">
  <h3>Expenses by Categories</h3>
    <div class="exp-by-cat-container">
      {% for category_expense in category_expenses %}
      <a href="{% url 'categories_detail' category_expense.id %}">
        <div class="category-card">
          <i class="fa-solid {{ category_expense.icon }} fa-2xl" style="color: #7c8492;"></i>
          <p class="p-expense-by-cat">{{ category_expense.title }}</p>
          <h4>$ {{ category_expense.total_expenses}}</h4>
        </div>
      </a>
      {% endfor %}
    </div>
</div>

<script>
  $(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});

let ctx = document.getElementById('pie-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
            labels: [{% for category in category_expenses %}'{{ category.title }}',{% endfor %}],
            datasets: [{
                label: 'Total Expenses',
                data: [{% for category in category_expenses %}{{ category.total_expenses }},{% endfor %}],
                backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        '#F2C654',
                        '#845FFC',
                        '#00B7A8',
                        '#EE8EF0',
        
                    ],
                }]
            },
            options: {
                responsive: true,
                legend: { position: 'left', }
            }
        });
</script>

{% endblock %}